
@model Film

<form asp-controller="Films" asp-action="SearchResult" method="get">
    <label> Minimum Length: </label>
    @*<input asp-for="@Model.Min" />*@

    <label> Max Length: </label>
    @*<input asp-for="@Model.Max" />*@

    <label> Genre: </label>
    @*<input asp-for="@Model.Description" />*@

    <input type="submit" value="Search" class="btn" btn-default />
</form>