<!-- Container for Filter Choices
        Each link should take the user to this current page and use any combination of the following
        querystring parameters to filter the page:
        - maxPrice (number)
        - minPrice (number)
        - minRating (number)
        - category (string) - Home, Apparel, Jewelry, Garden

        NOTE: Each of the views that call this class will be passed an Action and Controller in the ViewData
        dictionary. These will be necessary when generating the links for the appropriate pages on the view.
        You can access these values with the @ViewData["Action"] or @ViewData["Controller"] syntax.
        -->


<div id="filter-options">
    <h3>Refine By</h3>
    <p>Price</p>
    <ul>
        <li><a asp-controller=@ViewData["Controller"] asp-action=@ViewData["Action"] asp-route-maxPrice="25">Under $25</a></li>
        <li><a asp-controller=@ViewData["Controller"] asp-action=@ViewData["Action"] asp-route-minPrice="25" asp-route-maxPrice="50">$25 to $50</a></li>
        <li><a asp-controller=@ViewData["Controller"] asp-action=@ViewData["Action"] asp-route-maxPrice="50">$50 & Above</a></li>
    </ul>
    <p>Avg. Review</p>
    <ul>
        <li><a asp-controller=@ViewData["Controller"] asp-action=@ViewData["Action"] asp-route-MinRating=4><span class="filled" &#9734;></span><span class="filled" &#9734;></span><span class="filled" &#9734;></span><span>&#9734;</span></a>$ Up</li>
        <li><a asp-controller=@ViewData["Controller"] asp-action=@ViewData["Action"] asp-route-MinRating=3><span class="filled" &#9734;></span><span class="filled" &#9734;></span><span &#9734;></span><span> &#9734;</span></a>$ Up</li>
        <li><a asp-controller=@ViewData["Controller"] asp-action=@ViewData["Action"] asp-route-MinRating=2><span class="filled" &#9734;></span><span> &#9734;</span><span &#9734;></span><span> &#9734;</span></a>$ Up</li>
        <li><a asp-controller=@ViewData["Controller"] asp-action=@ViewData["Action"] asp-route-MinRating=1><span &#9734;></span><span> &#9734;</span><span &#9734;></span><span> &#9734;</span></a>$ Up</li>
    </ul>
    <p>Category</p>
    <ul>
        <li><a asp-controller=@ViewData["Controller"] asp-action=@ViewData["Action"] asp-route-Category="Home">Home</a></li>
        <li><a asp-controller=@ViewData["Controller"] asp-action=@ViewData["Action"] asp-route-Category="Apperel">Apperel</a></li>
        <li><a asp-controller=@ViewData["Controller"] asp-action=@ViewData["Action"] asp-route-Category="Jewelry">Jewelry</a></li>
        <li><a asp-controller=@ViewData["Controller"] asp-action=@ViewData["Action"] asp-route-Category="Garden">Garden</a></li>
    </ul>
</div>