@model AddCountryViewModel

@section Title {
    Add Country
}

@foreach(var country in Model.ExistingCountries)
{
    <div>@country</div>
}

<form action="/World/AddCountry" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name">
    <button>Submit</button>
</form>
