
@{
    ViewData["Title"] = "SearchResult";
}

@{
    Actor vm = new Actor();
}

<partial name="_ActorSearch" model="vm" />
<hr />

<h2>Actor Search Result</h2>

<table class="table">
    <tr>
        <th>Name</th>
    </tr>

    @foreach (Actor actor in Model)
    {
        <tr>
            <td>
                @actor.LastName, @actor.FirstName
            </td>
        </tr>
    }
</table>