
@{
    ViewData["Title"] = "Fibonacci";
    int max = Convert.ToInt32(ViewData["max"]);
}

@functions
{

}

<h2>Fibonacci</h2>

<nav>
    <ul>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-number="20">20</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-number="50">50</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-number="100">100</a></li>
    </ul>
</nav>
