@model CountrySearchViewModel

<form asp-controller="World" asp-action="CountryTimeResults" method="get">
    <label asp-for="SortColumn"></label>
    <select asp-for="SortColumn" asp-items="Model.Columns" ></select>
    <button class="btn btn-primary">Get Countries</button>
</form>
