@using VndrMVC.ViewComponents

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    @RenderSection("StyleSheet", false)

    <script src="~/js/Global.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>>
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/additional-methods.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", false)

    <title>@RenderSection("Title", true)</title>
</head>
<body>
    <div class="wrapper">
        <div class="jumbotron jumbotron-fluid jumboMove">
            <div class="container">
                <h1 class="display-4">VNDR.</h1>
                <p class="lead motto">GIVE US YOUR CASH, WE'LL GIVE YOU SOME FOOD</p>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-static-top navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand VNDR" href="~/Vending/Index"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    @await Component.InvokeAsync("NavBar")
                </div>
            </div>
        </nav>
        <section>
            @RenderBody()
        </section>
        <div class="push"></div>
    </div>
    <div class="footer">
        Tech Elevator Copyright 2018
    </div>
</body>
</html>