<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("Title", true)</title>
    <link href="~/css/style.css" rel="stylesheet" />
    @RenderSection("StyleSheet", false)
</head>
<body>
    <nav>
    </nav>
    @RenderBody()
</body>
</html>
