<nav>
    <a asp-area="" asp-controller="Nuclear" asp-action="Index">Get Code</a> |
    <a asp-area="" asp-controller="Nuclear" asp-action="LaunchPad">Launch Missile</a> |
    <a asp-area="" asp-controller="Nuclear" asp-action="Targets">Targets</a> |
    <a asp-area="" asp-controller="Nuclear" asp-action="Identify">Identify</a>
</nav>