@model LaunchPadViewModel

@section Title {
    Launch Pad
}

<partial name="_NuclearLinks" />

<form asp-controller="Nuclear" asp-action="LaunchMissile" method="post">
    <label asp-for="LaunchCode"></label>
    <input asp-for="LaunchCode" />
    <button>Launch Missile</button>
    <span asp-validation-for="LaunchCode" style="display:block;color:red"></span>
</form>