
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Luna</title>
</head>
<body>
    <div>Hi, I'm not Garry, I'm Luna!</div>
</body>
</html>
